@model WebApplication1.Models.NumberViewModel

@{
    ViewBag.Title = "Index";
}    

@Html.ValidationSummary(true)
@Html.ValidationMessage("sessionerror")
<h2> Guesscontroller</h2>
<h3>Regler:  Du har @Model.MaxNumberOfGuesses chanser på gissa det hemliga talet, som är ett tal mellan 1-100</h3>   
<h4 class="alert alert-success">Utförda Gissningar @Model.GuessCount()</h4>

<h4 class="alert alert-success">@Model.LastGuessedNumber()</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">           
        @Html.LabelFor(m => m.Guess)
        @Html.TextBoxFor(m => m.Guess, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Guess)
        <p><input type="submit" value="Gissa" class="btn btn-primary" /></p>
    </div>
      
    <div>
        <ol>
            @foreach (var item in @Model.GuessedNumbers)
            {
                <li>
                    @Model.Result[@item.Outcome]
                    @item.Number
                </li>          
            }
        </ol>

    </div>
}
@section scripts
{

    <script>
        $(function () {
            $("#Guess").focus();
        });
    </script>
}

    









  








