@model WebApplication1.Models.NumberViewModel

@{
    ViewBag.Title = "Index";
}
   

    
        
    @foreach (var item in Model.GuessedNumbers)
{   <p>
        @item.Number
        @item.Outcome
    </p>
}
        


<h2>Index Guesscontroller</h2>
<h4>Gissningar @Model.GuessCount()</h4>
@using (Html.BeginForm()) 
{
    
    @Html.LabelFor(m => m.Guess)
    @Html.EditorFor(m => m.Guess)
    @Html.ValidationMessageFor(m => m.Guess)

  
    <input type="submit" value="Create" />

}

<div>
    @Model.LastGuessedOutcome()   
</div>
   
        
   


