@model WebApplication1.Models.NumberViewModel

@{
    ViewBag.Title = "Index";
}
   
    <p>
    @foreach (var item in Model.GuessedNumbers)
    {
        @item.Number
    }
</p>

<h2>Index Guesscontroller</h2>
<h4>Gissningar @Model.GuessCount()</h4>
@using (Html.BeginForm()) 
{
    
    //@Html.LabelFor(m => m.Number)
    //@Html.EditorFor(m => m.Number)
    @Html.LabelFor(m => m.Guess)
    @Html.EditorFor(m => m.Guess)

    //@Html.TextBox("Guess")
    <input type="submit" value="Create" />

}
<div>
    @Model.LastGuessedNumber()
</div>
   
        
   


